<template>
  <div class="box">
    <h4 v-if="!editMode" :class="{ marked: task.isMarked }">{{task.task}}</h4>
    <div :class="{ 'flex-and-grow': editMode }">
      <input v-if="editMode" type="text" v-model="task.task" />
      <Icon v-if="!task.isMarked" :name="editIconName" @click.native="edit" :title="editTitle" />
      <Icon
        v-if="!editMode"
        name="trash-solid.svg"
        @click.native="$emit('onDelTask', task.id)"
        title="Delete"
      />
      <Icon
        v-if="!task.isMarked && !editMode"
        name="check-solid.svg"
        @click.native="mark"
        title="Mark as read"
      />
    </div>
  </div>
</template>

<script>
import Icon from "./Icon";
import { db } from "../firebase";

export default {
  props: {
    task: {
      type: Object,
      required: true
    },
    value: String
  },

  data() {
    return {
      editMode: false,
      editIconName: "edit-solid.svg",
      editTitle: "Edit"
    };
  },

  methods: {
    mark() {
      db.collection("tasks")
        .doc(this.task.id)
        .update({ isMarked: true });
      // this.$firestoreRefs.task.update({isMarked: true}).then(() => {
      //   console.log('updated')
      // })
    },

    edit() {
      this.editMode = !this.editMode;
      if (this.editMode) {
        this.editIconName = "save-solid.svg";
        this.editTitle = "Save";
      } else {
        this.editIconName = "edit-solid.svg";
        this.editTitle = "Edit";
        db.collection("tasks")
          .doc(this.task.id)
          .update({ task: this.task.task })
      }
    }
  },

  components: {
    Icon
  }
};
</script>

<style lang="scss" scoped>
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px 10px 10px;
  border-radius: 3px;
}

.flex-and-grow {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

input {
  padding: 5px;
}

.marked {
  text-decoration: line-through;
}

.icon {
  height: 18px;
}
</style>