<template>
  <img :src="require('@/assets/' + name)" class="icon" />
</template>


<script>
export default {
	props: ['name']
};
</script>

<style lang="scss" scoped>
.icon {
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}
</style>