<template>
<div class="new-task">
	<input type="text" name="" id="" :value='value' @input="$emit('input', $event.target.value)" @keyup.enter="$emit('enter')">
	<Icon name='plus-solid.svg' @click.native="$emit('onAddTask')" title="Add task"/>
</div>
</template>

<script>
import Icon from './Icon'
	
	export default {
		props: ['value'],
		components: {
			Icon
		}
	}
</script>

<style lang="scss" scoped>
	div {
		display: flex;
		align-items: center;
	}
</style>