<template>
  <div id="app">
    <NewTask @onAddTask="addTask" @enter="addTask" v-model.trim="newTask" />
    <h2 v-if="tasks.length == 0">No tasks have been added</h2>
    <div class="boxes">
      <Box v-for="task in tasks" :key="task.id" :task="task" @onDelTask="delTask" />
    </div>
    <button @click='unmarked'>show unmarked</button>
  </div>
</template>

<script>
import Box from "./components/Box";
import NewTask from "./components/NewTask";
import { db } from './firebase'

// let id = 1;

export default {
  name: "app",

  components: {
    Box,
    NewTask
  },

  data() {
    return {
      // tasks: [
      //   { id: id++, task: "this is a task", isMarked: false },
      //   { id: id++, task: "this is another task", isMarked: false },
      //   { id: id++, task: "this is yet another task", isMarked: false }
      // ],

      tasks: [],
      newTask: ""
    };
  },

  firestore: {
    tasks: db.collection('tasks').orderBy('timestamp', 'desc')
  },

  methods: {
    delTask(idToRemove) {
      // this.tasks = this.tasks.filter(task => {
      //   return task.id !== idToRemove;
      // });
      db.collection('tasks').doc(idToRemove).delete()
    },

    addTask() {
      if (this.newTask != "") {
        // this.tasks.push({ id: id++, task: this.newTask, isMarked: false });
        db.collection('tasks').add({
          task: this.newTask,
          isMarked: false,
          timestamp: new Date()
        })
        this.newTask = ""
      }
    },
    
    unmarked() {
      this.$bind('tasks', db.collection('tasks').where('isMarked', '==', false))
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.new-task {
  margin-bottom: 20px;
}

input {
  flex-grow: 1;
  border-radius: 3px;
  border: 1px solid #ddd;
  font-size: 18px;
  padding: 10px;
}

h4 {
  margin: 0;
}
</style>
